{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <section style="margin: 50px 0;">
        <div class="container">
            <div class="row">
                <div class="col"><img src="{% static 'img/contact.png' %}" width="100%"></div>
                <div class="col-6 d-flex flex-column justify-content-center">
                    <p style="font-size: 50px;color: #1e1a56;">CONTACT US&nbsp;</p>
                    <div>
                        <div>
                            {% csrf_token %}
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col"><input class="px-3 py-2" name="full_name" type="text" placeholder="full name" style="width: 100%;border-radius: 5px;border: 2px solid rgba(30,26,86,0.5);"></div>
                                <div class="col"><input class="px-3 py-2" name="email" type="email" placeholder="your email address" style="width: 100%;border-radius: 5px;border: 2px solid rgba(30,26,86,0.5);"></div>
                            </div>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col"><input class="px-3 py-2" name="subject" type="text" placeholder="subject" style="width: 100%;border-radius: 5px;border: 2px solid rgba(30,26,86,0.5);"></div>
                                <div class="col"><input class="px-3 py-2" name="phone_number" placeholder="phone number" type="text" style="width: 100%;border-radius: 5px;border: 2px solid rgba(30,26,86,0.5);"></div>
                            </div>
                            <div class="row">
                                <div class="col"><textarea class="px-3  py-2" name="message" placeholder="enter your message..." style="border-radius: 5px;width: 100%;border: 2px solid rgba(30,26,86,0.5);" rows="5"></textarea></div>
                            </div>
                            <div><button class="btn btn-primary" type="submit" style="font-size: 15px;background: #1e1a56;border-radius: 5px;">send message</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'includes/footer.html' %}
{% endblock %}