{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
    {% include "includes/navbar.html" %}
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col text-center d-flex">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h1 style="font-family: 'Nunito Sans', sans-serif;font-size: 50px;">Effort less report card generation</h1>
                        <p style="font-family: 'Nunito Sans', sans-serif;">View Comprehensive Marksheets in minutes</p>
                        <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
                            <a href="{% url 'app:upload' %}" class="btn btn-primary" id="hero-button" type="button" style="margin-right: 20px;border-radius: 30px;background: #1E1A56;">Upload Sheet</a>
                            <a href="{% url 'app:filter_school' 5 %}" class="btn btn-primary" id="hero-button" type="button" style="margin-right: 20px;border-radius: 30px;background: #1E1A56;">View Report</a>
                        </div>
                    </div>
                </div>
                <div class="col"><img src="{% static 'img/image1.png' %}" style="width: 100%;"></div>
            </div>
        </div>
    </section>
    <section id="features" style="color: #1E1A56;margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center"><img src="{% static 'img/feature.png' %}" style="width: 80%;"></div>
                <div class="col d-flex flex-column justify-content-center" style="margin-top: 60px;">
                    <div>
                        <h1 style="color: #1E1A36;font-size: 50.0px;margin-bottom: 25px;">Features</h1>
                    </div>
                    <div class="d-flex flex-column" style="height: 100%;">
                        <div class="d-flex align-items-center" style="margin-bottom: 20px;"><span><img src="{% static 'img/tick.png' %}" width="40px" style="margin-right: 15px;"></span>
                            <p style="margin-bottom: 0px;font-size: 25px;">Individual Student Data Entry</p>
                        </div>
                        <div class="d-flex align-items-center" style="margin-bottom: 20px;"><span><img src="{% static 'img/tick.png' %}" width="40px" style="margin-right: 15px;"></span>
                            <p style="margin-bottom: 0px;font-size: 25px;">Bulk Data Entry</p>
                        </div>
                        <div class="d-flex align-items-center" style="margin-bottom: 20px;"><span><img src="{% static 'img/tick.png' %}" width="40px" style="margin-right: 15px;"></span>
                            <p style="margin-bottom: 0px;font-size: 25px;">Bulk Download</p>
                        </div>
                        <div class="d-flex align-items-center" style="margin-bottom: 20px;"><span><img src="{% static 'img/tick.png' %}" width="40px" style="margin-right: 15px;"></span>
                            <p style="margin-bottom: 0px;font-size: 25px;">Comprehensive Student Profiles</p>
                        </div>
                        <div class="d-flex align-items-center"><span><img src="{% static 'img/tick.png' %}" width="40px" style="margin-right: 15px;"></span>
                            <p style="margin-bottom: 0px;font-size: 25px;">Individual Marksheet Download</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "includes/footer.html" %}

{% endblock %}