{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
<div class="container mt-5 p-4 border shadow">
    <h2 class="mb-3">Password Reset</h2>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
</div>

{% endblock %}
