{% load static %}
<section id="navbar" class="shadow">
    <div class="container" id="nav-container" style="text-shadow: 0px 0px;border-bottom-style: none;">
        <nav class="navbar navbar-light navbar-expand-md d-flex justify-content-center align-items-center" style="color: #312A64;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'app:index' %}" style="color: #312A64;">
                    ELECTROCOM
                    <img src="{% static 'img/logo.png' %}" alt="logo" style="width: 50px;">
                </a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-items-center" id="navcol-1" style="color: #312A64;border-width: -21px;">
                    <ul class="navbar-nav" style="color: #312A64;">
                        <li class="nav-item"><a class="nav-link active" href="{% url 'app:index' %}" style="color: #312A64;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:upload' %}" style="color: #312A64;">Upload</a></li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #1e1a56;">
                                    Download
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="{% url 'app:filter_school' 5 %}">Class 5 Marksheet</a>
                                    <a class="dropdown-item" href="{% url 'app:filter_school' 8 %}">Class 8 Marksheet</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'app:about' %}" style="color: #312A64;">about</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'app:contact' %}" style="color: #312A64;">contact</a></li>

                        {% if user.is_authenticated %}
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="width: 20px;height: 20px;"> <path d="M8.51428 20H4.51428C3.40971 20 2.51428 19.1046 2.51428 18V6C2.51428 4.89543 3.40971 4 4.51428 4H8.51428V6H4.51428V18H8.51428V20Z" fill="currentColor"></path> <path d="M13.8418 17.385L15.262 15.9768L11.3428 12.0242L20.4857 12.0242C21.038 12.0242 21.4857 11.5765 21.4857 11.0242C21.4857 10.4719 21.038 10.0242 20.4857 10.0242L11.3236 10.0242L15.304 6.0774L13.8958 4.6572L7.5049 10.9941L13.8418 17.385Z" fill="currentColor"></path> </svg>
                            <a class="nav-link" href="/accounts/logout/" style="color: #312A64;padding-top: 0;padding-bottom: 0;">logout</a>
                        </li>
                        {% else %}

                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="width: 20px;height: 20px;"> <path d="M15.4857 20H19.4857C20.5903 20 21.4857 19.1046 21.4857 18V6C21.4857 4.89543 20.5903 4 19.4857 4H15.4857V6H19.4857V18H15.4857V20Z" fill="currentColor"></path> <path d="M10.1582 17.385L8.73801 15.9768L12.6572 12.0242L3.51428 12.0242C2.96199 12.0242 2.51428 11.5765 2.51428 11.0242C2.51429 10.4719 2.962 10.0242 3.51429 10.0242L12.6765 10.0242L8.69599 6.0774L10.1042 4.6572L16.4951 10.9941L10.1582 17.385Z" fill="currentColor"></path></svg>
                            <a class="nav-link" href="/accounts/login/" style="color: #312A64;padding-top: 0;padding-bottom: 0;">login</a>
                        </li>

                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <i class="fas fa-user" style="width: 20px;height: 20px;"></i>
                            <a class="nav-link" href="/accounts/signup/" style="color: #312A64;padding-bottom: 0px;padding-top: 0px;">register</a>
                        </li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>