{% extends 'base.html' %}
{% block title %} Home Page{% endblock %}


{% block content %}
    <div class="container my-5 p-4 shadow border">
        <h3>Report Generator</h3>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex align-items-center my-3">
                <input class="form-control w-50 mr-4" type="file" name="csv_file" id="csv_file" accept=".csv">
                <div class="dropdown mr-3">
                    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown"> Print Format </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">select printing format</li>
                        <li><button class="dropdown-item" name="dropdown_button" value="format_1">Format 1</button></li>
                        <li><button class="dropdown-item" name="dropdown_button" value="format_2">Format 2</button></li>
                        <li><button class="dropdown-item" name="dropdown_button" value="format_3">Format 3</button></li>
                    </ul>
                </div>
                <button class="btn btn-warning" type="submit">Generate Report</button>
            </div>
        </form>
    </div>



    <div class="container my-5 p-4 shadow border">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'app:search' %}" method="get">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input class="input-sm form-control " type="text" name="search" id="search" placeholder="search...">
                        <button class="btn btn-warning" type="submit">Search</button>
                    </div>
                </form>

                <div class="container mt-5">
                    <table class="table table-striped">
                        {% if details_1 or details_2 or details_3 %}
                            <thead class="text-center">
                                <tr>
                                    <th>Scholar No</th>
                                    <th>Roll No</th>
                                    <th>Student Name</th>
                                    <th>Class</th>
                                    <th>Examination Date</th>
                                    <th>Total Grade</th>
                                    <th>School Name</th>
                                    <th>Marksheet</th>
                                </tr>
                            </thead>
                        {% endif %}
                        <tbody class="text-center">
                            {% for details in combined_details %}
                                {% for row in details %}
                                <tr>
                                    <td>{{ row.student.scholar_no }}</td>
                                    <td>{{ row.student.roll_no }}</td>
                                    <td>{{ row.student.student_name }}</td>
                                    <td>{{ row.student.student_class }}</td>
                                    <td>{{ row.examination_date }}</td>

                                    {% if details == details_1 or details == details_2 %}
                                        <td>{{ row.total_grade }}</td>
                                    {% else %}
                                        <td>{{ row.percentage }}</td>
                                    {% endif %}

                                    <td>{{ row.student.school.school_name }}</td>
                                    <td><a class="btn btn-warning" href="{{row.report_card.url}}" target="_blank">view</a></td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
