{% extends 'base.html' %}
{% block title %} Home Page{% endblock %}


{% block content %}
    <div class="container mt-5 p-4 shadow border">
        <h3>Report Generator</h3>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex align-items-center my-3">
                <input class="form-control w-100 mr-4" type="file" name="csv_file" id="csv_file" accept=".csv">
                <div class="dropdown mr-3">
                    <button id="dropdown-button" class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"> Print Format </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">select printing format</li>
                        <li><button class="dropdown-item" name="dropdown_button" value="format_1">Class 5 Marksheet</button></li>
                        <li><button class="dropdown-item" name="dropdown_button" value="format_2">Class 8 (Old)</button></li>
                        <li><button class="dropdown-item" name="dropdown_button" value="format_3">Class 8 (2014-20)</button></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>


    {% if details %}
    <div class="container my-5 p-4 shadow border">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'app:search' %}" method="get">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input class="input-sm form-control mr-4 " type="text" name="search" id="search" placeholder="search...">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>
                </form>

                <!-- PAGINATION -->
                <div class="d-flex justify-content-end mt-3">
                    <div>
                        <ul class="pagination">
                        {% if details.has_previous %}
                            <li class="page-item"> <a class="page-link text-dark" href="/?page={{details.previous_page_number}}" tabindex="-1"><i class="fa-solid fa-angle-left fa-xl"></i></a> </li>
                        {% endif %}

                        {% if details.has_next %}
                        <li class="page-item"> <a class="page-link text-dark" href="/?page={{ details.next_page_number }}"><i class="fa-solid fa-angle-right fa-xl"></i></a> </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <table class="table table-striped">
                        {% if details %}
                            <thead class="text-center">
                                <tr>
                                    <th>Scholar No</th>
                                    <th>Roll No</th>
                                    <th>Student Name</th>
                                    <th>Class</th>
                                    <th>Examination Date</th>
                                    <th>Grade / Percentage</th>

                                    <th>School Name</th>
                                    <th>Marksheet</th>
                                </tr>
                            </thead>
                        {% endif %}
                        <tbody class="text-center">
                            {% for row in details %}
                                <tr>
                                    <td>{{ row.student.scholar_no }}</td>
                                    <td>{{ row.student.roll_no }}</td>
                                    <td>{{ row.student.student_name }}</td>
                                    <td>{{ row.student.student_class }}</td>
                                    <td>{{ row.examination_date }}</td>

                                    {% if row.total_grade %}
                                        <td>{{ row.total_grade }}</td>
                                    {% else %}
                                        <td>{{ row.percentage }}</td>
                                    {% endif %}

                                    <td>{{ row.student.school.school_name }}</td>
                                    <td><a class="btn btn-info" href="{{row.report_card.url}}" target="_blank">view</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    {% endif %}


    <footer class="bg-dark text-light py-3" style="margin-top: auto;">
        <div class="container text-center">
          <p class="m-0">&copy; <span id="year"></span> Electrocom. All rights reserved.</p>
        </div>
      </footer>


{% endblock %}


{% block extra_js %}

<script>
    document.getElementById("year").textContent = new Date().getFullYear();

    document.addEventListener('DOMContentLoaded', function() {
        // Get the file input element
        var fileInput = document.getElementById('csv_file');

        // Get the dropdown button element
        var dropdownButton = document.getElementById('dropdown-button');

        // Disable the dropdown button by default
        dropdownButton.disabled = true;

        // Add an event listener to the file input to enable/disable the dropdown button
        fileInput.addEventListener('change', function() {
            if (fileInput.files.length > 0) {
                // Enable the dropdown button if a file is selected
                dropdownButton.disabled = false;
            } else {
                // Disable the dropdown button if no file is selected
                dropdownButton.disabled = true;
            }
        });
    });
</script>

{% endblock %}